{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer" class="bg-white">
    <div class="container-fluid">
        <div class="footer-section pb-3">
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>
{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});

{{! require(['jquery', 'jqueryui'], function($, jqui) {
    alert();

    $('#id_submitbutton').click
    (function(e){
        e.preventDefault();
        alert();
    });
}); }}


require(['jquery', 'core/notification', 'core/modal_factory', 'core/modal_events', 'core/templates'], function($, Notification, ModalFactory, ModalEvents, Templates) {
            $('#id_phone1').keyup(function(){
                $('#id_sendotp').show();
            });
            $('#id_sendotp').click( function(e) {
                e.preventDefault();
                var clickedLink = $(e.currentTarget);
                ModalFactory.create({
                    type: ModalFactory.types.SAVE_CANCEL,
                    title: 'Verify OTP',
                    body: '<label class="d-inline">Please enter otp sent to your mobile no</label><input type="number" class="form-control" type="text" id="otp" value="" name="otp"/><p id="resendotp">Resend otp</p><p class="invalidbox"></p>',
                }).then(function(modal) {
                    modal.setSaveButtonText('Verify OTP');
                    modal.getRoot().on(ModalEvents.save, function(e) {                        
                        var otp = $('#otp').val();
                        var mobile = $('#id_phone1').val();
                        alert(otp);
                        alert(mobile);
                        // Do something to process the action
                        // Don't close the modal yet.
                        e.preventDefault();
                        $.ajax({
                            url: M.cfg.wwwroot + '/local/otpverification/ajax_bridge.php',
                            method: 'post',
                            data: {
                                'otp': otp,
                                'mobile': mobile
                            },
                            success: function(result) {
                                if(result == 1) {
                                    modal.hide();
                                    $('#fitem_id_sendotp').html('<p class="btn btn-success"><i class="fa fa-check"></i> Verified</p>');
                                    
                                    $('#id_sendotp').hide();
                                    alert('Verified successfully');
                                } else {
                                    alert('Invalid OTP');
                                    $('.invalidbox').html('Invalid OTP');
                                }
                            }
                        });
                    });
                    modal.show();
                });
            });
       
    
});
{{/js}}
<style>
#id_sendotp{display:none;}
</style>