// Pre SCSS for the theme.

$card-bg: rgba(255, 255, 255, 0.98);

// Setting these variables increases the button padding
$btn-padding-y:         0.5rem !default;
$btn-padding-x:         1.1rem !default;
